In [1]:
import pandas as pd

In [2]:
data = "../data/cereal-crop-yield-vs-fertilizer-application.csv"

In [3]:
data_df = pd.read_csv(data, encoding="ISO-8859-1")

data_df.head()

,Entity,Code,Year,"Crops - Cereals, Total - 1717 - Yield - 5419 - hg/ha",Fertilizers indicators - Nutrient nitrogen N (total) - 3102 - Use per area of cropland - 5159 - kg/ha,Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,Asia
1,Afghanistan,AFG,1961,1.1151,NaN,NaN
2,Afghanistan,AFG,1962,1.0790,NaN,NaN
3,Afghanistan,AFG,1963,0.9858,NaN,NaN
4,Afghanistan,AFG,1964,1.0828,NaN,NaN

In [6]:
#dropping rows that does not contain any information
cleaned_data_df = data_df.dropna(how='any')

cleaned_data_df

,Entity,Code,Year,"Crops - Cereals, Total - 1717 - Yield - 5419 - hg/ha",Fertilizers indicators - Nutrient nitrogen N (total) - 3102 - Use per area of cropland - 5159 - kg/ha,Continent
55,Afghanistan,AFG,2015,2.1337,2.66,Asia
172,Albania,ALB,2015,4.8738,52.87,Europe
230,Algeria,DZA,2015,1.4002,8.79,Africa
348,Angola,AGO,2015,0.9825,4.91,Africa
403,Antigua and Barbuda,ATG,2015,1.5811,1.70,North America
...,...,...,...,...,...,...
11554,Venezuela,VEN,2015,3.5057,71.02,South America
11612,Vietnam,VNM,2015,5.6012,147.38,Asia
11898,Yemen,YEM,2015,0.7842,0.66,Asia
11990,Zambia,ZMB,2015,3.0074,43.15,Africa
12049,Zimbabwe,ZWE,2015,0.5586,10.39,Africa