In [1]:
import pandas as pd

In [2]:
data = "../data/fertilizer-use-in-kg-per-hectare-of-arable-land.csv"

In [3]:
data_df = pd.read_csv(data, encoding="ISO-8859-1")

data_df.head()

,Entity,Code,Year,Fertilizer consumption (kilograms per hectare of arable land)
0,Afghanistan,AFG,1961,0.143791
1,Afghanistan,AFG,1962,0.142857
2,Afghanistan,AFG,1963,0.141935
3,Afghanistan,AFG,1964,0.141026
4,Afghanistan,AFG,1965,0.141026

In [4]:
#checking whether the number of rows match
data_df.count()

Entity                                                           10181
Code                                                              8169
Year                                                             10181
Fertilizer consumption (kilograms per hectare of arable land)    10181
dtype: int64