In [1]:
import pandas as pd

In [2]:
data = "../data/fertilizer-application-rates-over-the-long-run.csv"

In [3]:
data_df = pd.read_csv(data, encoding="ISO-8859-1")

data_df.head()

,Entity,Code,Year,Fertilizer consumption (FAO (2017) & Federico (2008))
0,Afghanistan,AFG,2002,3.403360
1,Afghanistan,AFG,2003,3.275090
2,Afghanistan,AFG,2004,4.535568
3,Afghanistan,AFG,2005,4.240359
4,Afghanistan,AFG,2006,6.290993

In [4]:
#checking whether the number of rows match
data_df.count()

Entity                                                   2659
Code                                                     2124
Year                                                     2659
Fertilizer consumption (FAO (2017) & Federico (2008))    2659
dtype: int64